<h1>STUPID COACHING</h1>
<div class="box">
  <p><%= @message%></p>
  <p style="font-style: italic;"> -You</p>
</div>
<br>
<div class="box">
  <p><%= @answer%></p>
  <p style="font-style: italic;"> -Your favourite coach</p>
</div>
<p><%= link_to "Ask?", "/ask" %> </p>
